# NAME: hoyolab
host-suffix, hoyoverse.com, direct
HOST-KEYWORD,hoyolab, direct
host-suffix,jp.api.share.mob.com, direct
host-suffix,myqcloud.com, direct
host-suffix,bbs-api-os.mihoyo.com, direct
host-suffix,upload-os-bbs.mihoyo.com, direct
