#国区TF无法下载已下架app规则

hostname = testflight.apple.com

^https?:\/\/testflight\.apple\.com\/v2\/accounts\/.*\/apps\/\d*/builds/\d*/install$ url request-body storefrontId" : ".*", request-body storefrontId" : "143380-1,29",
