# >> 小红书
^https:\/\/www\.xiaohongshu\.com\/api\/sns\/v1\/ads\/apple\/record* url reject
^https:\/\/www\.xiaohongshu\.com\/api\/sns\/v1\/tag\/ads_engage* url reject
^https:\/\/www\.xiaohongshu\.com\/api\/sns\/v1\/ads\/resource* url reject
^https:\/\/pages\.xiaohongshu\.com\/data\/native\/matrix_switches* url reject
^*.xiaohongshu.com url request-header User-Agent request-header discover/7.98 (iPad; iOS 15.3; Scale/2.00) Resolution/1536*2048 Version/7.98 Build/7951003 Device/(Apple Inc.;iPad11,1) NetType/CellNetwork

hostname = *.xiaohongshu.com
